<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIKA-LEARNING</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/estilos.css' %}">

</head>
<body>


    <header id="header">
        <img class="menu" src="{% static 'myapp/img/menuiconwhite.png' %}" alt="menu" id="menu">
        <div class="contenedor_logo">
            <img  class="logo"  src="{% static 'myapp/img/tecnomarketpngicono.png' %}" alt="logo">
        </div>

        <div>

            <nav id="nav">
                <ul>
                    <li>
                        <a href="index.html"> Inicio </a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                    <li><a href="galeria.html">Galería</a></li>
                </ul>
            </nav>

        </div>

    </header>

    <div id="contenido">

    {% block contenido %}
    {% endblock %}

    </div>


    <footer>
        <div class="marcas">
            <img src="{% static 'myapp/img/footer/apple.png' %}" alt="apple">
            <img src="{% static 'myapp/img/footer/lenovo.png' %}" alt="lenovo">
            <img src="{% static 'myapp/img/footer/microsoft.png' %}" alt="microsoft">
            <img src="{% static 'myapp/img/footer/samsung.png' %}" alt="samsung">
            <img src="{% static 'myapp/img/footer/xiaomi.png' %}" alt="xiaomi">
        </div>
        <div class="logo_footer">
            <img src="{% static 'myapp/img/tecnomarketpngicono.png' %}" alt="logo">
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{% static 'myapp/js/menu.js' %}"></script>

    <script>
        $(document).ready(function() {
          $('.slider').bxSlider({
              mode: 'fade',//horizontal, vertical, fade
              auto: true,
              pause: 2000
          });
        });
    </script>

</body>
</html>