{% extends 'myapp/base.html' %}

{% block contenido %}
    {% load static %}
          <div class="slider">
                <div>
                    <img src="{% static 'myapp/img/banner/MikaSLOGANNUEVAVERSION.png' %}" alt="">
                </div>
                <div>
                    <img src="{% static 'myapp/img/banner/KNOWLEDGEFORTHEFUTURE.png' %}" alt="">
                </div>
                <div>
                    <img src="{% static 'myapp/img/banner/MikaSLOGANNUEVAVERSION.png' %}" alt="">
                </div>
            </div>

        <h2>Productos</h2>
        <div class="productos">

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="{% static 'myapp/img/ANALISISVISUALIZACION.jpeg' %}" alt="imagen producto">
                    <div class="detalle">
                        <h5>ANALISISVISUALIZACION</h5>
                        <h2>DataScience</h2>
                        <h3>$180.00</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="{% static 'myapp/img/POWERBI.jpeg' %}" alt="imagen producto">
                    <div class="detalle">
                        <h5>POWERBI</h5>
                        <h2>BusinessIntelligence</h2>
                        <h3>$180.00</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="{% static 'myapp/img/PYTHON_SEMINAR.jpeg' %}" alt="imagen producto">
                    <div class="detalle">
                        <h5>PYTHON</h5>
                        <h2>Coding</h2>
                        <h3>$180.00</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="{% static 'myapp/img/ANALISISVISUALIZACION.jpeg' %}" alt="imagen producto">
                    <div class="detalle">
                        <h5>ANALISISVISUALIZACION</h5>
                        <h2>DataScience</h2>
                        <h3>$180.00</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="{% static 'myapp/img/POWERBI.jpeg' %}" alt="imagen producto">
                    <div class="detalle">
                        <h5>POWERBI</h5>
                        <h2>BusinessIntelligence</h2>
                        <h3>$180.00</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="{% static 'myapp/img/PYTHON_SEMINAR.jpeg' %}" alt="imagen producto">
                    <div class="detalle">
                        <h5>PYTHON</h5>
                        <h2>Coding</h2>
                        <h3>$180.00</h3>
                    </div>

                </div>

            </div>


        </div>
{% endblock %}